<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avarta_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,454},{203,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,275}}</string>
                <key>sourceSize</key>
                <string>{203,275}</string>
            </dict>
            <key>avarta_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{226,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,349}}</string>
                <key>sourceSize</key>
                <string>{226,349}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,833},{91,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,96}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>btn_leader_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,454},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,553},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,652},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,709},{188,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,199}}</string>
                <key>sourceSize</key>
                <string>{188,199}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,751},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,731},{113,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,100}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,910},{117,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,100}}</string>
                <key>sourceSize</key>
                <string>{117,100}</string>
            </dict>
            <key>scissors.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,910},{142,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,100}}</string>
                <key>sourceSize</key>
                <string>{142,100}</string>
            </dict>
            <key>ui_border_bot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{601,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,125}}</string>
                <key>sourceSize</key>
                <string>{601,125}</string>
            </dict>
            <key>ui_border_bot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{601,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,225}}</string>
                <key>sourceSize</key>
                <string>{601,225}</string>
            </dict>
            <key>ui_border_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,731},{141,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,112}}</string>
                <key>sourceSize</key>
                <string>{141,112}</string>
            </dict>
            <key>ui_border_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{601,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,124}}</string>
                <key>sourceSize</key>
                <string>{601,124}</string>
            </dict>
            <key>ui_border_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{601,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,225}}</string>
                <key>sourceSize</key>
                <string>{601,225}</string>
            </dict>
            <key>ui_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{73,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,309}}</string>
                <key>sourceSize</key>
                <string>{73,309}</string>
            </dict>
            <key>ui_panel_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{450,248}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{450,248}}</string>
                <key>sourceSize</key>
                <string>{452,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res.png</string>
            <key>size</key>
            <string>{903,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ae4d62caedd6efbb7388916d016c75:e836d2f593b125e49802ba529772d0cc:e9a6761e0eaed6cf539663e6dc49fb27$</string>
            <key>textureFileName</key>
            <string>res.png</string>
        </dict>
    </dict>
</plist>
